<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kahve_otomasyon.Properties.Settings.kahve_otomasyonConnectionString"
            connectionString="Data Source=DESKTOP-C45MJKA\SQLEXPRESS;Initial Catalog=kahve_otomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>